<!DOCTYPE html>

<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/reservaForm.css' %}">
    <title>Confirmar Eliminación de Reserva</title>
</head>

<body class="container mt-5">
    <div id="header-container">
        <div id="catalog-logo">
            <a href="{% url 'verReservas' %}"><img src="{% static 'img/logos/restaurant-logo.png' %}" class="restaurant-logo" alt="Logo"></a>
        </div>
        <div id="catalog-title" class="text-center">
            <H1 class="title">ELIMINANDO {% if reserva.id %} RESERVA {% elif cliente.id %} CLIENTE {% else %} MESA{% endif %}</H1>
        </div>
    </div>
    {% if reserva.id %}
    <br>
    <h2>¿Confirmar la eliminación de la reserva para {{ reserva.cliente }}?</h2>
    <br>
    <br>
    <form method="post" action="{% url 'eliminar_reserva' reserva.id %}">


        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">
            <h3>
                <i class="bi bi-x"><span></span>ELIMINAR RESERVA PARA {{ reserva.cliente }}</i>
            </h3>
        </button>
    </form>
    <br>
    <a href="{% url 'verReservas' %}" class="btn btn-outline-secondary">
        <h3><i class="bi bi-check-lg"><span></span>REGRESAR</i></h3>
    </a>
    {% endif %}




    {% if cliente.id %}
    <br>
    <h2>¿Confirmar la eliminación del cliente {{ cliente }}?</h2>
    <br>
    <br>
    <form method="post" action="{% url 'eliminar_cliente' cliente.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">
            <h3>
                <i class="bi bi-x"></i> Eliminar al Cliente: {{ cliente }}
            </h3>
        </button>
    </form>
    <br>
    <a href="{% url 'verClientes' %}" class="btn btn-outline-secondary">
        <h3><i class="bi bi-check-lg"></i> REGRESAR</h3>
    </a>

    {% endif%}

    
    {% if mesa.numero %}
    <br>
    <h2>¿Confirmar la eliminación de la mesa{{  mesa.numero }}?</h2>
    <br>
    <br>
    <form method="post" action="{% url 'eliminar_mesa' mesa.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">
            <h3>
                <i class="bi bi-x"></i> Eliminar la Mesa: {{  mesa.numero }}
            </h3>
        </button>
    </form>
    <br>
    <a href="{% url 'verMesas' %}" class="btn btn-outline-secondary">
        <h3><i class="bi bi-check-lg"></i> REGRESAR</h3>
    </a>

    {% endif%}
</body>

</html>